ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    gap: 50px;
}
ol {
    list-style: circle;
}
body {
    background-color: rgb(146, 145, 145);
}
.header {
    text-align: center;
}

.article {
    background-color: white;
    width: 100%;
    padding: 0 5px;
}
.search-bar {
    display: flex;
    gap: 10px;
}
.navbar {
    display: flex;
    justify-content: center;
    background-color: pink;
    margin: 50px;
    gap: 100px;
}
.sidebar {
    background-color: pink;
    width: 30%;
    align-items: center;
}
footer {
    background-color: white;
    max-height: 40px;
    margin: 50px;
    padding: 10px;
}
.main {
    justify-content: center;
    display: flex;
    margin: 50px;
    gap: 10px;
}
